.place_nearby {
	position: relative;
	display: flex;
	width: 166px;
	height: 166px;
	border-radius: 10px;
	backdrop-filter: blur(30px);
	text-align: center;
	align-content: center;
	justify-content: center;
}

.place_nearby_title {
	position: absolute;
	display: flex;
	background-color: #0000004d;
	margin-top: 122px;
	width: 166px;
	height: 44px;
	border-radius: 0 0 10px 10px;
	padding: 10px;
	backdrop-filter: blur(30px);
	text-align: center;
	align-items: center;
	justify-content: center;
}
.place_nearby_title > p {
	padding: 10px;
	font-weight: var(--fontWeight-medium);
	color: #ffffff;
}

.place_nearby_image {
	margin-top: 0;
	margin-right: 0;
	top: 0;
	left: 0;
}
