.tag {
	display: flex;
	height: 20px;
	width: auto;
	border-radius: 10px;
	background-color: var(--color-effect-grey);
	padding: 1px;
	margin-left: 5px;
	justify-content: center;
	align-items: center;
}
.icon {
	margin: 2px 5px 0px 5px;
}
.text {
	font-size: 0.8333rem;
	font-weight: var(--fontWeight-medium);
	color: var(--color-text);
	margin-right: 5px;
}
