.topBar {
	display: flex;
	background-color: var(--color-foreground);
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	position: relative;
	padding-left: 0.844rem;
	padding-right: 0.438rem;
	height: 3.063rem;
}

.clock {
	margin-left: 1rem;
	font-weight: var(--fontWeight-medium);
}

.stats ul {
	display: flex;
	list-style: none;
	gap: 0.25rem;
}
