.home {
  display: block;
  position: relative;
  justify-content: space-between;
  background-color: var(--color-foreground);
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 100%;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foreground {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.logo {
  display: grid;
  grid-template-rows: 167.76px;
  justify-content: center;
  margin-top: 0.75rem;
  width: 100%;
}
.logo svg {
  justify-self: center;
}
.logo h1 {
  margin: 0;
  font-weight: var(--fontWeight-medium);
  font-size: 3.5rem;
}

.button {
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  margin-top: 0.625rem;
  width: 100%;
}
