.button {
	display: block;
	background-color: #f8af7893;
	width: 9.438rem;
	height: 2.75rem;
	border-radius: 10px;
	backdrop-filter: blur(30px);
	text-align: center;
	align-content: center;
	padding: 0.625rem;
	color: var(--color-text);
}
