:root {
	--color-foreground: #d96e1e;
	--color-background: #fffbf2;

	--color-seaside: #1ec6d9;
	--color-seaside-alpha: #1ec6d94d;
	--color-park: #768c45;
	--color-park-alpha: #768c454d;
	--color-city: #bf9a78;
	--color-city-alpha: #bf9a784d;

	--color-text: #fefdfe;

	--color-effect-primary: rgba(116, 108, 254, 0.25);
	--color-effect-secundary: rgba(254, 48, 0, 0.25);
	--color-effect-line: rgba(115, 86, 69, 0.33);
	--color-effect-grey: #c4c2c2;

	--settings-padding: 32px;
	--settings-fontSize: 16px;

	--fontWeight-thin: 100;
	--fontWeight-light: 300;
	--fontWeight-regular: 400;
	--fontWeight-medium: 600;
	--fontWeight-bold: 700;
	--fontWeight-extraBold: 800;
	--fontWeight-black: 900;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-decoration: none;
	line-height: 1.4;
}

html {
	scroll-behavior: smooth;
}
body {
	display: grid;
	height: 100vh;
	overflow: hidden;
}

.content {
	background-color: var(--color-background);
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	color: var(--color-text);
}

.bar {
	position: absolute;
	display: grid;
	width: calc(100% - 32px);
	bottom: 0.563rem;
	z-index: 99;
	justify-content: center;
}
.bar_black {
	background-color: black;
	height: 0.313rem;
	width: 9.188rem;
	border-radius: 2.5px;
}
.bar_white {
	background-color: white;
	height: 0.313rem;
	width: 9.188rem;
	border-radius: 2.5px;
}
