.accent_colour {
	background-color: var(--color-foreground);
	border-radius: 4px;
	overflow: hidden;
	margin: 12px 8px 0 8px;
	height: 128px;
	padding: 4px;
	outline: 2px solid #735645;
	border: 2px dashed #735645;
	outline-offset: 4px;
}
.accent_colour > p {
	color: white;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}

.background_colour {
	background-color: var(--color-background);
	border-radius: 4px;
	overflow: hidden;
	margin: 12px 8px 0 8px;
	height: 128px;
	padding: 4px;
	outline: 2px solid #735645;
	border: 2px dashed #735645;
	outline-offset: 4px;
}
.background_colour > p {
	color: black;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}

.seaside_colour {
	background-color: var(--color-seaside);
	border-radius: 4px;
	overflow: hidden;
	margin: 12px 8px 0 8px;
	height: 128px;
	padding: 4px;
	outline: 2px solid #735645;
	border: 2px dashed #735645;
	outline-offset: 4px;
}
.seaside_colour > p {
	color: white;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}

.park_colour {
	background-color: var(--color-park);
	border-radius: 4px;
	overflow: hidden;
	margin: 12px 8px 0 8px;
	height: 128px;
	padding: 4px;
	outline: 2px solid #735645;
	border: 2px dashed #735645;
	outline-offset: 4px;
}
.park_colour p {
	color: white;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}

.city_colour {
	background-color: var(--color-city);
	border-radius: 4px;
	overflow: hidden;
	margin: 12px 8px 0 8px;
	height: 128px;
	padding: 4px;
	outline: 2px solid #735645;
	border: 2px dashed #735645;
	outline-offset: 4px;
}
.city_colour > p {
	color: white;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}
