.BluePostIt {
	background-color: #93a0ba;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	margin: 2px;
}
.BluePostIt > div {
	background-color: #6d7fa2;
	width: 100%;
	height: 24px;
}
.BluePostIt > p {
	margin: 4px;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}

.GreyPostIt {
	background-color: #919398;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	margin: 2px;
}
.GreyPostIt > div {
	background-color: #6b6d74;
	width: 100%;
	height: 24px;
}
.GreyPostIt > p {
	margin: 4px;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}

.PinkPostIt {
	background-color: #eca18d;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	margin: 2px;
}
.PinkPostIt > div {
	background-color: #db9683;
	width: 100%;
	height: 24px;
}
.PinkPostIt > p {
	margin: 4px;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}

.YellowPostIt {
	background-color: #efad27;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	margin: 2px;
}
.YellowPostIt > div {
	background-color: #e99019;
	width: 100%;
	height: 24px;
}
.YellowPostIt > p {
	margin: 4px;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}

.EmptyPostIt {
	border-radius: 4px;
	overflow: hidden;
	margin: 2px;
}
.EmptyPostIt > div {
	width: 100%;
	height: 24px;
}
.EmptyPostIt > p {
	margin: 4px;
	font-size: 1rem;
	font-weight: var(--fontWeight-medium);
}
