.bot_bar {
	display: flex;
	background-color: var(--color-foreground);
	justify-content: center;
	width: 100%;
	padding-left: 0.844rem;
	padding-right: 0.438rem;
	height: 5.188rem;
}

.icons {
	display: flex;
	margin-top: 0.75rem;
	width: 16rem;
	justify-content: space-between;
}

.bar {
	position: absolute;
	display: grid;
	width: calc(100% - 32px);
	bottom: 0.563rem;
	z-index: 99;
	justify-content: center;
}

.bar_white {
	background-color: white;
	width: 9.188rem;
	height: 0.313rem;
	border-radius: 2.5px;
}
